@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Group Project!</h1>
    <p>Contributors: eli.hofmann@ndsu.edu + griffin.winstead@ndsu.edu</p>
    <a  asp-area="" asp-controller="Musics" asp-action="Index">Admin</a>  
</div>
